@size: 1rem;
@line: 1.5;

body {
    font-size: @size;
    line-height: @line;
}

.header{
    font-size: @size;;
}

.footer{
    font-size: @size;
}

.foot-content span {
    font-size: @size + 0.8;
}