@size: 1rem;
@line: 1.5;

body {
    font-size: @size;
    line-height: @line;
}
/* header */
.header{
    font-size: @size;;
}

.carousel-caption p{
    font-size: @size + 1rem;
}

@media (max-width: 991px){
    .carousel-caption p{
        font-size: @size;
    }
}

/* index */
.trending h1{
    font-size: @size + 1rem;
}

.trending h2{
    font-size: @size + 1rem;
}

.conrol .control-row{
    font-size: @size + 0.5rem;
}

.shadow-block p{
    font-size: @size + 0.2rem;
}

.blog .blog-content h1{
    font-size: @size + 1rem;
}

.blog .blog-content h2{
    font-size: @size + 1rem;
}


/* news */
.heading-news h1{
    font-size: @size + 2.4rem;
}

@media (max-width: 991px){
	.heading-news h1 {
        font-size: @size + 2rem;
    }
}


/* log */
.log-block h1{
    font-size: @size + 1rem;
}



/* music */
.popular-songs h1 {
    font-size: @size + 1rem;
}

.popular-songs h2 {
    font-size: @size + 1rem;
}

.songs-column .info h2{
    font-size: @size + 1rem;
}

.songs-column .info h1{
    font-size: @size + 1rem;
}

.songs-gallery .row{
    font-size: @size + 0.2rem;;
}

@media (max-width: 991px){
    
    .songs-column .info h2{
        font-size: @size + 0.5rem;
    }
    
    .songs-column .info h1{
        font-size: @size + 0.5rem;
    }

    .songs-column p{
        font-size: @size - 0.2rem;
    }
    
}


.new-relize h1 {
    font-size: @size + 1rem;
}

.new-relize h2 {
    font-size: @size + 0.1rem;
}

.relize-column .info h1{
    font-size: @size + 0.5rem;;
}

.relize-column .info p{
    font-size: @size + 0.1rem;
}

.music-chart h1 {
    font-size: @size + 1rem;
}

.music-chart h2 {
    font-size: @size + 0.1rem;
}

.albums-title h1{
    font-size: @size + 0.1rem;
}

.albums-title p{
    font-size: @size;
}

.albums-head h1{
    font-size: @size + 0.2rem;
}



/* profile */
.user-form h1 {
    font-size: @size + 1.3rem;
}

.block-config p{
    font-size: @size + 0.1rem;
}

.info-user p{
    font-size: @size + 0.1rem;
}



/*footer*/
.footer{
    font-size: @size;
}

.foot-content span {
    font-size: @size + 0.8rem;
}