* {
	margin: 0;
	padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
	background: #fafafa;
    font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

div{	
	display: block;
}

img{
	object-fit: cover;
}

button{
	cursor: pointer;
	outline: none;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

input[type="text"]{
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

input {
    outline: none;
}

@media (max-width: 991px) {
	.devise{
		display: none;
	}
}

a:hover,
a:focus {
    color:  #fff;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.preloader {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	color: #fff;
	z-index: 9999999;
}

@media (min-width: 991px) {
	.preloader {
		display: inline-block;
	}
}

.wrapper{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
    margin: 0 auto;
}

.container {
	height: 100%;
	width: 1170px;
    margin: 0 auto;
}

@media (min-width: 576px){
	.container {
		padding-right: 0px;
		padding-left: 0px;
	}
}

@media (max-width: 1200px){
	.container {
		width: 90%;
	}
}

.content{
	position: relative;
	flex: 1 0 auto;
	width: 100%;
}

.col-pad {
    padding-right: 0px;
    padding-left: 0px;
}

.action-form {
    width: 100%;
}

.fon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    min-height: calc(100vh - 440px);
}

@media (min-width: 991px){
	.fon {
   	 background-attachment: fixed;
	}
}

/* шапка */
header{
	background: #191919;
	box-shadow: 0px 10px 10px rgba(5, 12, 22, 0.54);
	color: #ffff;
}

.header{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
}

.header a{
	color: inherit;
}

.header .logo{
	height: 70px;
}

.logo img{
	height: 100%;
}

.header .main-menu ul{
	display: -ms-flexbox;
    display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	flex-flow: row wrap;
	text-decoration: none;
	list-style: none;
}

.header .main-menu li{
	padding-left: 2.9rem;
}

.header .main-menu .social{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-flow: row wrap;
	margin-left: 1.5rem;
}

.header .main-menu .social .user{
	margin-right: 0.5rem;
}

.icon-user {
    padding: 0px 10px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 3px;
}

@media (min-width: 991px) {
	input.search-form {
		background: transparent;
		border: 0 none;
		width: 60px;
		padding: 0 10px;
		color: #ffff;
		-webkit-transition: all 400ms;
		transition: all 400ms;
	}

	input.search-form::-webkit-input-placeholder { color: transparent; }
	input.search-form:-moz-placeholder { color: transparent; } /* FF 4-18 */
	input.search-form::-moz-placeholder { color: transparent; } /* FF 19+ */
	input.search-form:-ms-input-placeholder { color: transparent; } /* IE 10+ */

	input.search-form:hover::-webkit-input-placeholder { color: #b7b7b7; }
	input.search-form:hover:-moz-placeholder { color: #b7b7b7; } /* FF 4-18 */
	input.search-form:hover::-moz-placeholder { color: #b7b7b7; } /* FF 19+ */
	input.search-form:hover:-ms-input-placeholder { color: #b7b7b7; } /* IE 10+ */

	input.search-form:hover {
   			width: 180px;
	}
}

@media (max-width: 991px) {

	.header .main-menu .social{
		margin-left: 0rem;
	}

	.header .main-menu{
		margin-top: 30px;
	}

	.header .main-menu  .social{
		margin-top: 15px;
	}

	.header .main-menu li{
		padding-left: 0px;
		padding-right: 1.5rem;
	}

	input.search-form {
		background: transparent;
		border: 0px;
		width: 300px;
		padding: 0 0px;
		padding-right: 10px;
		color: #ffff;
		-webkit-transition: all 400ms;
		transition: all 400ms;
	}

}


@media (max-width: 767px){
	input.search-form, input.search-form:hover {
		width: 180px;
		border: 0px;
	}
}

.bsnav {
    background: none;
}

.navbar {
    padding: 0.5rem 0rem;
}

.navbar-collapse {
    -ms-flex-positive: inherit;
    flex-grow: inherit;
}

.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
	background-color: #ffff;
}


/* index */
.slider{
    height: 30rem;
	width: 100%;
}

.slider .carousel{
    height: 100%;
	width: 100%;
}

.carousel-caption {
    bottom: 30%;
}

.slider .carousel .carousel-inner{
    height: 100%;
	width: 100%;
}

.slider .carousel .carousel-inner .carousel-item{
    height: 100%;
	width: 100%;
}

.carousel-item img{
    height: 100%;
	width: 100%;
}

@media (max-width: 991px){
	.d-md-block {
    	display: block!important;
	}

	.slider{
		height: 17.5rem;
	}

	.carousel-caption {
		bottom: 30%;
	}
}

.trending{
	padding: 3.5rem 0rem;
	padding-bottom: 1.5rem;
	border-bottom: 2px solid #dfdfdf;
}

.trending h1{
	font-family: Oswald;
	font-weight: 500;
	font-style: normal;
	letter-spacing: 5px;
}

.trending h2{
	font-family: 'Great Vibes';
	font-weight: 400;
	font-style: normal;
	color: #df001f;
}

.trending .trend-gallery{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
	flex-direction: column;
	width: 100%;
}

.trending .trend-gallery .conrol{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.conrol .control-row{
    margin-left: 0.5rem;
    background: #df001f;
    color: #ffff;
	padding: 0.1rem 0.7rem;
	cursor: pointer;
}

.trending .trend-gallery .albums{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-top: 0.6rem;
	transition: transform 0.6s ease;
} 

.albums .trend-column{
	position: relative;
	-ms-flex: 0 0 23%;
    flex: 0 0 23%;
	max-width: 23%;
	margin-bottom: 1rem;
	cursor: pointer;
	transition: all 0.6s ease-in-out;
}

.albums .trend-column .trend-block{
	position: relative;
	height: 11rem;
	width: 100%;
	margin-bottom: 1rem;
	background: #1a121f;
}

.shadow-block{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	opacity: 0;
	transition: .5s;
	padding: 5px;
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	align-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.shadow-block p{
	color: #ffff;
	z-index: 3;    
}

.shadow-block:hover{
	opacity: 1;
}

.trend-block:hover img {
	opacity: .5;
 }

.trend-active{
	display: inline-block;
	transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}

.trend-none{
	display: none;
	transition: -webkit-transform .6s ease-in-out;
}

.albums .trend-column .trend-block img{
	width: 100%;
	height: 100%;
	z-index: 1;
}

@keyframes am {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
	
.animate {
	animation: am 0.6s backwards ease-in-out;
	opacity:1;
}

@media (max-width: 991px){
	.albums .trend-column {
		position: relative;
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
		max-width: 45%;
		margin-bottom: 1rem;
	}

	.shadow-block{
		display: none;
	}
}

/* index blog*/
.blog{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
	padding: 2rem 0rem;
}

.blog .blog-content{
	width: 65%;
}

.blog .blog-content h1 {
    font-family: Oswald;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 5px;
}

.blog .blog-content h2 {
    font-family: 'Great Vibes';
    font-weight: 400;
    font-style: normal;
    color: #df001f;
}


.index-music{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
	padding: 2rem 0rem;
}

.index-music .img-music{
	width: 20%;
	min-height: 8rem;
}

.index-music .img-music img{
	width: 100%;
	height: 100%;
}

.blog .blog-social{
	width: 35%;
	padding-left: 30px;
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
}

.form-control{
	background-color: #fff;
	border: none;
}

.form-control:focus {
    border-color: #ffffff;
    box-shadow: none;
	outline:none;
}

.blog .blog-social  .recent-posts{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	width: 100%;
}

.recent-posts .post-head{
	width: 100%;
	background: #ebebeb;
	color: #000000;
	text-align: center;
	padding: 5px 5px;
}

.post-head h1{
	font-size: 1.2rem;
	letter-spacing: 5px;
	margin-bottom: 0rem;
}

.recent-posts .post-body{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	background: #ffffff;
	padding: 15px;
	width: 100%;
}

.post-body .post{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 15px;
	cursor: pointer;
}

.post-body .post .post-img{
	width: 40%;
	height: auto;
}

.post-img img{
	width: 100%;
	height: 100%;
}

.post-body .post .post-title{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-justify-content: space-between;
    justify-content: space-between;
	width: 60%;
	padding-left: 10px;
}

.post-title h1{
	font-size: 1.1rem;
	font-weight: 500;
	color: #3d3d3d;
	margin-bottom: 0.5rem;
}


.post-title p{
	font-size: 1rem;
	line-height: 1;
	color: #777777;
	font-weight: 400;
}

.inst .inst-body{
	padding-top: 20px;
	padding-bottom: 20px;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}


.inst .inst-body img{
	width: 32%;
	height: auto;
	margin-bottom: 15px;
}

@media (max-width: 991px){

	.heading-blog .info {
    	padding: 30px 0px; 
	}

	.heading-blog h5 {
		font-size: 3rem;
		color: #000000;
		background: none;
		padding: 0px 0px;
	}

	.blog {
		flex-direction: column-reverse;
		padding: 50px 0px;
	}

	.blog .blog-content {
		width: 100%;
	}

	.blog .blog-social {
		width: 100%;
		padding-left: 0px;
		flex-flow: row wrap;
	}
}


/* gallery */

.slider-gallery {
    height: 30rem;
    width: 100%;
}

@media (max-width: 991px){
	.slider {
    	height: 20rem;
	}
}

.features{
	width: 100%;
	padding: 35px 0px;
	background-color: #fafafa;
	border-top: 1px solid #ebebeb; 
	border-bottom: 1px solid #ebebeb; 
}

.tab-nav{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-flow: row wrap;
    -webkit-justify-content: center;
	justify-content: center;
	width: 100%;
	padding: 15px 0px;
	border-top: 1px solid #e1e1e1; 
	border-bottom: 1px solid #e1e1e1; 
}

.tab-nav .lines{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.2rem;
    line-height: 1.5;
}

.tab-nav .active{
	color: #df001f;
}

.lines p{
	padding: 0px 25px;
}

.tab-nav .lines .ln{
	background-color: #dcdcdc;
	width: 1px;
    height: 30px;
	-o-transform: skewX(-20deg);
	-ms-transform: skewX(-20deg);
	-moz-transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
}

.tab-images{
	-webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
	widows: 1;
	padding-top: 30px;
}

@media (max-width: 992px){

	.tab-images{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}

}

@media (max-width: 400px){

	.tab-images{
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

}

.tab-images a { 
	display: block; 
	position: relative; 
	margin-bottom: 30px;
}

.tab-images a:after { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(59, 59, 59, 0.5);  opacity: 0; }

.tab-images a:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: url(icon-path); opacity: 0; }

.tab-images a:hover:before,
.tab-images a:hover:after { opacity: 1; }

.tab-images img{
	width: 100%;
	height: auto;
}

.tab-btn{
	width: 100%;
	text-align: center;
	padding-top: 35px;
}

.tab-btn .btn-send {
    border-radius: 0px;
    background: #959595;
    border: 0px solid #959595;
    color: #ffffff;
    width: 125px;
}

/* news */

.heading-news{
	width: 100%;
	height: 20rem;
	padding: 0px 0px;
	text-align: left;
	color: #ffff;
}

.heading-news h1 {
    display: inline-block;
    font-size: 3.4rem;
    letter-spacing: 5px;
    color: #000000;
    background: #ffff;
    padding: .1rem .2rem;
    margin-bottom: .5rem;
}

.heading h2{
    margin-top: 30px;
    font-size: 1.3rem;
    letter-spacing: 5px;
}

.heading-news .info{
   padding: 5rem 0px; 
}

.heading-news .head-img{
	height: 100%;
	width: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/img/news/fon.jpg);
	background-position: 100% 50%;
	background-size: cover;
}

.news{
	display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
	width: 100%;
	padding: 3.1rem 0px;
}

.news .news-content{
	width: 65%;
}

.news .news-content .news-columns{
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}

.news .news-content .news-columns .news-items{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
	flex-direction: column;
	page-break-inside: avoid;
	break-inside: avoid;
	background: #ffffff;
	margin-bottom: 1.9rem;
}

.news-items img{
	width: 100%;
	margin-bottom: 1.3rem;
}

.news-items .news-body{
	width: 100%;
	padding: 1rem;
	padding-bottom: 1.6rem;
}

.news-items .news-body .head-items{
	width: 100%;
}

.news-items .news-body .head-items h2{
	font-size: 1rem;
    color: #fff;
    background: #000000;
	width: 50%;
	padding: 5px;
    text-align: center;
	margin-bottom: 1.6rem;
}

.news-items .news-body .head-items h1{
	font-size: 1.2rem;
	color: #333333;
	margin-bottom: 1rem;
}

.news-items .news-body .head-items .name{
	font-size: 1rem;
	color: #cccccc;
}

.news-items .news-body .text{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	padding: 1.2rem 0px;
	padding-bottom: 0px;
}

.news-items .news-body .text p{
	font-size: 1rem;
	color: #777777;
	font-weight: 400;
}

.news-items .news-body .foot-items{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
    -webkit-justify-content: space-between;
	justify-content: space-between;
	padding-top: 1.2rem;
}

.news-items .news-body .foot-items p{
	font-size: 1rem;
	color: #777777;
	font-weight: 400;
}

.news-items .news-body .foot-items .social i{
	cursor: pointer;
	margin-left: 1rem;
}

.load-more{
	text-align: center;
}

.btn-send {
	margin: 1rem 0px;
	padding: 5px;
    border-radius: 0px;
    background: #959595;
	border: 0px solid #ced4da;
	font-size: 1rem;
    color: #ffffff;
    width: 130px;
}

.news .news-social{
	width: 35%;
	padding-left: 1.9rem;
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
}

.form-control{
	background-color: #fff;
	border: none;
}

.form-control:focus {
    border-color: #ffffff;
    box-shadow: none;
	outline:none;
}

.news .news-social .social-content{
	margin-bottom: 1.9rem;
} 

.news-search input::-moz-placeholder { color: #b7b7b7; }
.news-search input::-webkit-input-placeholder { color: #b7b7b7; }

.news-search .input-group-text {
	color: #ffffff; 
	background-color: #999999;
    border: 0px solid #ced4da; 
}

.news .news-social  .recent-posts{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	width: 100%;
}

.recent-posts .post-head{
	width: 100%;
	background: #ebebeb;
	color: #000000;
	text-align: center;
	padding: 5px 5px;
}

.post-head h1{
	font-size: 1.2rem;
	letter-spacing: 5px;
	margin-bottom: 0rem;
}

.recent-posts .post-body{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	background: #ffffff;
	padding: 1rem;
	width: 100%;
}

.post-body .post{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 1rem;
	cursor: pointer;
}

.post-body .post .post-img{
	width: 40%;
	height: auto;
}

.post-img img{
	width: 100%;
	height: 100%;
}

.post-body .post .post-title{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-justify-content: space-between;
    justify-content: space-between;
	width: 60%;
	padding-left: 0.6rem;
}

.post-title h1{
	font-size: 1.1rem;
	font-weight: 500;
	color: #3d3d3d;
	margin-bottom: 0.5rem;
}


.post-title p{
	font-size: 1rem;
	line-height: 1;
	color: #777777;
	font-weight: 400;
}

.popular-tags .tags-body{
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

.popular-tags .tags-body .tags{
	width: auto;
	border: 1px solid #eeeeee;
	padding: 0.7rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.popular-tags .tags-body .tags-avtive{
	background: #000000;
	border: 1px solid #000000;
}

.tags p{
	font-size: 1rem;
	line-height: 1;
	color: #9c9c9c;
	font-weight: 400;
}

.tags-avtive p{
	color: #ffffff;
}

.inst .inst-body{
	padding-top: 1.1rem;
	padding-bottom: 1.1rem;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}


.inst .inst-body img{
	width: 32%;
	height: auto;
	margin-bottom: 1rem;
}

@media (max-width: 991px){

	.heading-news .info {
    	padding: 1.9rem 0px; 
	}

	.heading-news h1 {
		font-size: 3rem;
		color: #ffff;
		background: none;
		padding: 0px 0px;
	}

	.news {
		flex-direction: column-reverse;
		padding: 3.1rem 0px;
	}

	.news .news-content {
		width: 100%;
	}

	.news .news-social {
		width: 100%;
		padding-left: 0px;
		flex-flow: row wrap;
	}

	.news .news-social .news-search{
		height: 50px;
	}

	.news .news-social .news-search input{
		height: 100%;
		font-size: 1.2rem;
	}

}

@media (max-width: 767px){

	.news .news-content .news-columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 1.25rem;
		-moz-column-gap: 1.25rem;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1;
	}

}









/* footer */
.footer{
	background: #ffffff;
	border-top: 1px solid #d2d2d2;
}

.footer a{
	color: #333333;
}

.foot-content{
	display: flex;
    display: -ms-flexbox;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	text-align: center;
	padding: 2.3rem 0rem;
}

.foot-content ul{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
	flex-flow: row wrap;
	justify-content: center;
	-webkit-justify-content: center;
    text-decoration: none;
    list-style: none;
}

.foot-content ul li{
	padding: 0rem 1.9rem;
}

.foot-content span {
	font-family: 'Great Vibes';
	font-weight: 400;
	font-style: normal;
    color: #df001f;
}