header {
    box-shadow: 0px 0px 0px rgba(5, 12, 22, 0.54);
}

header a:hover{
    color:  #ffff;
}

a {
    color: #212529;;
    text-decoration: none;
    background-color: transparent;
}

a:hover,
a:focus {
    color:  #212529;;
}

@-webkit-keyframes autofill {
	100% {
	  color: inherit;
	  background: transparent;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #495057 !important;
}

.user-form {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    padding: 3.5rem 0rem;
}

.config-user {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    background: #ffffff;
	box-shadow: 0 6px 20px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
    padding: 1.2rem 0.3rem;
    border: 1px solid transparent;
    border-radius: 4px;
}

.user-head {
    text-align: center;
}

.user-head img {
    Width: 200px;
    Height: 200px;
    margin-bottom: 1.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #fff;
}

.user-head h1 {
    margin: 0px 0px;
}

.user-body {
    text-align: left;
    padding-top: 1.9rem;
}

.user-body p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.block-config {
    border-bottom: 1px solid #ebeae6;
    margin: 0px 0px;
    padding: 13px 0px;
}

.param {
    cursor: pointer;
    margin: 3px 0px;
    padding: 0px 0px;
}

.confg-active {
    padding-left: 20px;
    border-left: 5px solid #D3795E;
}

.info-user {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin-left: 1.9rem;
    text-align: left;
    background: #ffffff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
    padding: 1.5rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 4px;
}

.info-head {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #212529;
}

.info-head h1 {
    margin: 0px 0px;
}

.info-boddy {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.column {
    width: 50%;
}

.bio-row {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    width: 100%;
    padding-bottom: 40px;
    position: relative;
}

.bio-row p {
    display: inline-block;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-footer {
    float: left;
    align-self: end;
}

.bio-input{
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.form-group {
    width: 100%;
    margin-bottom: 0rem;
}

.form-group .input-group {
    border: 1px solid #ebebeb;
}

.form-group span {
    display: flex;
    align-items: center;
    background: #ebebeb;
    padding: .275rem .35rem;
}

.form-control {
    background-color: #fff;
    border: none;
}

.btn-send{
    margin-bottom: 0rem;
}


@media (max-width: 991px) {

    .column {
        width: 100%;
    }

    .bio-input{
        padding-bottom: 1rem;
        padding-right: 0rem;
    }

    .user-form {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

    .user-mb{
        margin: 0px auto;
        width: auto;
    }

    .user-head {
        float: left;
        width: 50%;
    }

    .user-head img {
        Width: 85%;
        Height: auto;
        margin-bottom: 1rem;
    }

    .user-body {
        padding-top: 0rem;
        float: left;
    }

    .config-user{
        margin-bottom: 2rem;
    }

    .info-user{
        margin-left: 0rem;
    }

    .info-head{
        margin-bottom: 3rem;
    }

    .info-boddy {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }

}

/* music */
.music-user{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 0rem;
    margin-bottom: 3.5rem;
    background: #ffffff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
    border: 1px solid transparent;
    border-radius: 4px;
}

.music-user h1 {
    font-family: Oswald;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 5px;
}

.music-user .music-playlist{
    width: 60%;
    padding-left: 1rem;
}

.music-user .music-playlist .tab-btn{
    text-align: left;
    padding-top: 0px;
}

.music-user .music-playlist .tab-btn .btn-send{
    margin: 0rem 0px;
}

.music-user .music-param{
    width: 40%;
    padding: 0rem 1rem;
}

.music-user .music-param  .param-column{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.param-column .param-head{
    width: 100%;
    background: #ebebeb;
    color: #000000;
    text-align: center;
    padding: 5px 5px;
}

.param-head h1 {
    letter-spacing: 5px;
    margin-bottom: 0rem;
}

.param-column .param-body {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    background: #fafafa;
    padding: 1rem 0.5rem;
    width: 100%;
}

.param-body .albums {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.param-body .albums .albums-img {
    width: 40%;
    height: auto;
}

.param-body .albums .albums-img img {
    width: 100%;
    height: 100%;
}

.param-body .albums .albums-title {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 60%;
    padding-left: 10px;
}

.param-body .albums .albums-title h1 {
    font-weight: 500;
    color: #3d3d3d;
    margin-bottom: 0.5rem;
    letter-spacing: 0px;
}

.param-body .albums .albums-title p {
    line-height: 1;
    color: #777777;
    font-weight: 400;
}

.param-body .recordings{
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
    padding-left: 2rem;
    border-bottom: 3px solid #ffffff;
}

.param-body .recordings p{
    padding: 0.3rem 0rem;
}

.param-body .record-active{
    border-left: 5px solid #D3795E;
}

@media (max-width: 991px){
	.music-user {
		flex-direction: column;
	}

	.music-user .music-param {
		width: 100%;
		padding-left: 0px;
		margin-bottom: 2rem;
	}

	.music-user .music-playlist {
		width: 100%;
        margin-bottom: 2rem;
        padding: 0rem 0.5rem;
	}
}

/* loading file */
.bottom-load{
    margin-bottom: 1rem;
}

.info-poster h1{
    letter-spacing: 3px;
    margin: 2rem 0rem;
}

.info-poster .poster{
    height: 250px;
    width: auto;
    text-align: center;
}

.info-poster .poster img{
    height: 100%;
    max-width: 100%;
}

.tab-btn input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.music-user .music-playlist .btn-add{
    text-align: center;
    margin-top: 2rem;
}

.inp-none{
    display: none;
}